<h1>THE WEATHER</h1>
<p>Enter the name (or part of a name) of a city:</p>
<form method="get" id="search">
  <input type="search" placeholder="Search" id="name"/>
  <input type="submit" value="Go!" />
</form>
