<h1>THE WEATHER</h1>
<p>Enter the name (or part of a name) of a city:</p>
<form method="get" id="search">
  <input type="search" placeholder="Search" id="name"/>
  <input type="submit" value="Go!" class="button success" />
</form>

<div id="location-info">
  <span id="image"></span><br />
  Weather: <span id="weather"></span><br />
  Temperature: <span id="temp_c"></span><br />
  Wind: <span id="wind"></span><br />
  Humidity: <span id="humidity"></span><br />
</div>

<h3>Locations</h3>
<section>

</section>
